@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Lato");

html, body, #pomodoro-clock {
  margin: unset;
  padding: unset;
  background: black;
  text-align: center;
  color: white;
}

#pomodoro-clock {
  text-align: center;
  font-family: Lato, arial;
  font-size: 1.5em;
}

#title {
  font-family: Lobster, sans-serif;
}

button {
  background: blue;
  padding: 0.5rem;
}

button:hover {
  background: salmon;
  transition: 0.5s ease-in;
}

#break-label, #session-label {
  display: inline-block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

#timer-display {
  display: inline-block;
  margin: auto;
  margin-bottom: 4rem;
  padding: 1.5rem;
  border: blue solid 3px;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

#time-left {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 2em;
    text-shadow:
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #FF00DE,
    0 0 150px #FF00DE;
}

#reset {
  padding: 1rem;
}

#start_stop {
  margin-left: 1rem;
  padding: 1rem;
}
